@use '../../vars'

.header
    width: 100%
    min-height: 64px
    max-height: 1000px
    background-color: vars.$mainColor
    top: 0px
    overflow: hidden

.navbar img 
    width: 25%
    @media screen and (max-width: vars.$mediumScreen)
        margin-left: auto
        margin-right: auto

.navbar
    display: flex
    justify-content: space-between
    background: vars.$mainColor
    border: 1px solid vars.$secondaryColor
    height: 100px
    color: vars.$secondaryColor


       


.navbar a, .navbar img
    flex: 1
    font-family: arial
    display: flex
    color: vars.$secondaryColor
    text-decoration: none
    font-size: 2em
    font-weight: bold    
    justify-content: center
    align-items: center
    cursor: pointer
    @media screen and (max-width: vars.$mediumScreen)
        font-size: 0.7em

.navbar-title
    flex: 1
    font-family: arial
    color: vars.$secondaryColor
    text-decoration: none
    font-size: 2em
    font-weight: bold    
    justify-content: center
    align-items: center
    cursor: pointer
    @media screen and (max-width: vars.$mediumScreen)
        display: none



.navbar a:hover
    background: rgba(0,0,0, .1)


.navbar a.active
    background-color: vars.$secondaryColor
    color: white


@media (max-width: 768px) 
    
    .navbar
        height: auto
        border-bottom: 0px
        display: block
    
    
    .navbar a
        height: 45px
        border-bottom: 1px solid #29487d
    

