.detail
    position: relative
    left: 50%
    margin-left: -150px
    background-color: #b6c0fb 
    max-width: 300px
    padding: 5px
    text-align: center

.detail-item
    background-color: #b6c0fb 