<div class="detail">
<div class="detail-name">
    <p>
        {{details.name}}
    </p>
</div>
<div class="detail-item">
    <img [src]="pokemonImg">
</div>
<div class="detail-item">
    <p>
        <strong>#Id:</strong> 
        {{details.id}}
    </p>
</div>
<div class="detail-item">
    <p *ngFor="let typeItem of details.types">
        <strong>Tipo:</strong> 
        {{typeItem.type.name}}
    </p>
</div>
<div class="detail-item"> 
    <p>
        <strong>Altura:</strong> 
        {{details.height}}
    </p>
</div>
<div class="detail-item">
    <p>
        <strong>Peso:</strong> 
        {{details.weight}}
    </p>
</div>
</div>

