/* You can add global styles to this file, and also import other style files */


form
    position: relative
    left: 50%
    margin-left: -150px
    background-color: #b6c0fb 
    max-width: 300px

.form-group
    max-width: 300px

.form-label
    color: blue

.form-control
    border: 1px solid blue
    margin: 5px
    padding: 5px
    position: relative
    right: 0

.btn
    padding: 5px

.component
    font-family: Arial, Helvetica, sans-serif

.login
    background-color: #b6c0fb
    text-align: center





