<div class="component search">
   
    <form [formGroup]="searchForm" class="form">
        
        <div class="form-group">
            <label for="name" class="form-label">Pokemon</label>
            <input type="text" formControlName="name" class="form-control" placeholder="Pokemon" required />
            <!--<div *ngIf="isFieldInvalid('pokemon')">
                <div *ngIf="f.pokemon.errors.required">El nombre es requerido</div>
            </div>-->
        </div>
        
        <div class="form-group">
            <button type="button" (click)="searchPokemon()" class="btn btn-primary">
                Buscar
            </button>
            
        </div>
        <div class="form-group">
            <label>{{message}}</label>
        </div>
    </form>

    <ul > 
        <li *ngFor="let pok of results; let i = index">

            <span *ngIf="pok.url" (click)="detailPokemon(pok.url)">{{i}} {{pok.name}}</span>
            <span *ngIf="!pok.url" (click)="detailPokemonId(pok.id)">{{i}} {{pok.name}}</span>
        </li>
      </ul>
     

</div>
